
/* Add font files for Abhaya Libre ExtraBold */
@font-face {
  font-family: 'Abhaya Libre ExtraBold';
  src: url('fonts/abhaya-libre-extrabold.woff2') format('woff2'),
       url('fonts/abhaya-libre-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Almarai */
@font-face {
  font-family: 'Almarai';
  src: url('fonts/almarai.woff2') format('woff2'),
       url('fonts/almarai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-abhaya-libre-extrabold: 'Abhaya Libre ExtraBold', sans-serif;
  --font-family-almarai: 'Almarai', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-115-115-115: rgba(115, 115, 115, 1);
  --text-black: rgba(0, 0, 0, 1);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-115-115-115 {
  color: var(--text-rgb-115-115-115);
}

.text-black {
  color: var(--text-black);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-23-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50px;
}

.rectangle-26-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.rectangle-28-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abhaya-libre-extrabold);
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.rectangle-24-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.rectangle-27-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-rgb-115-115-115);
}

.rectangle-25-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-rgb-115-115-115);
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-115-115-115);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.log-in-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.icons8-exit-1-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-34-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(12, 21, 40, 1);
  border-radius: 50px;
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-almarai);
  font-weight: 700;
  font-size: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.group-14-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.log-in-page-1 {
@media (max-width: 1440px) {
  .log-in-page-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .log-in-page-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(69, 69, 69, 1);
}
